* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Full screen layout */
html, body {
  /* height: 100%; */
  
  background: linear-gradient(to bottom right, #eac4f7, #f3e8ff);
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* =====================Login or SignUp  Form  */
/* Center the form */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

/* Form box */
.container {
  margin-top: 40px;
  /* background: ; */
  width: 800px;
 height: 1000px;
  padding: 20px 22px;
  border-radius: 10px;
  box-shadow: 0 10px 15px 10px white;
  text-align: center;
 
}

/* Headline */
h1 {
    font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
/* Input fields */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 13px;

}


/* All buttons */
button {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: black;
  background-color:plum;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #e63946;
}

/* Special buttons */
.google-btn { background-color: #db4437; }
.google-btn:hover { background-color: #c1351d; }

.facebook-btn { background-color: #3b5998; }
.facebook-btn:hover { background-color: #2d4373; }

.logout-btn { background-color: #333; }
.logout-btn:hover { background-color: #333; }

.success {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}
/* User Info */
.user-info {
  margin-top: 20px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* ================Message after Login ================== */
.welcome-msg {
  color: green;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  animation: fadein 0.5s ease;
}



/* Responsive for mobile */
@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 30px 20px;
  }

  input, button {
    font-size: 15px;
  }
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}